@media only screen and (min-width: 60rem){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
    }
    
    .card{
        margin: auto;
    }
    
    #principle1{
        grid-column: 1/2;
    }

    #principle2{
        grid-column: 2/3;
    }

    #principle3{
        grid-column: span 2;
    }
}