:root{
    --lightmodeMainColor: white;
    --lightmodeBackgroundColor: #333;
    --lightmodeLightBackgroundColor: rgb(200, 200, 200);

    --darkmodeMainColor: #333;
    --darkmodeBackgroundColor: black;
    --darkmodeLightBackgroundColor: rgb(200, 200, 200);
    
    --lightTextColor: gold;
    --darkTextColor: black;
    --lightTextBackgroundColor: white;

    --bannerBackgroundColor: gold;
    --bannerButtonBG: black;
}

body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

/* Buttons */
.button{
    border: none;
    padding: 1rem;
    text-decoration: none;
}

#submitButton{
    grid-column: span 2;
    width: 50%;
    margin: auto;
    background-color: var(--lightTextColor);
}

#bannerButton{
    background-color: var(--bannerButtonBG);
    color: var(--lightTextColor);
}

#callToActionButton{
    background-color: var(--bannerBackgroundColor);
    font-size: 2rem;
}

/* Home Page */
#banner{
    background-color: var(--bannerBackgroundColor);
    padding: 1rem;
}

#banner h3{
    margin: 0;
}

/* Header */
header{
    display: flex;
    padding: 1rem;
    background-color: var(--lightTextColor);
    color: var(--darkTextColor);
    align-items: center;
}

header img{
    width: 5rem;
    height: 5rem;
}

header h1{
    margin: 2rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

/* Navigation */

nav{
    background-color: var(--lightmodeBackgroundColor);
}

nav a{
    padding: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--lightTextColor);
}

nav a:hover, .active{
    color: var(--darkTextColor);
    background-color: var(--lightTextColor);
    transition: 0.2s;
}

/* Hamburger */

#hamburger{
    font-size: 2rem;
    padding: 2rem;
    border: 0;
    color: var(--lightTextColor);
    background-color: var(--lightmodeBackgroundColor);
}

#darkmode{
    font-size: 2rem;
    padding: 2rem;
    border: 0;
    color: var(--darkTextColor);
    background-color: var(--lightTextColor);
}

#darkmode:hover{
    background-color: var(--lightmodeBackgroundColor);
    color: var(--lightTextColor);
    transition: 0.2s;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open::before {
    content: "X";
}

.navigation{
    display: none;
    flex-direction: column;
}

.navigation.show{
    display: flex;
}

/* Main */

.hero-img{
    width: 100%;
    margin-bottom: 1rem;
}

/* Cards */
.card{
    border: 1px solid;
    margin: 1rem;
}

.card h2{
    background-color: var(--lightmodeBackgroundColor);
    color: gold;
    padding: 1rem;
    margin-top: 0;
}

/* Footer */
footer{
    padding: 2rem;
    font-size: 1.5rem;
    background-color: var(--lightmodeBackgroundColor);
    color: var(--lightTextColor);
}

/* Join Page */

#text-inputs{
    display: flex;
    flex-direction: column;
}

#membership{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.text-input{
    margin: 1rem;
    text-align: left;
    align-items: center;
}

/* Directory Page */

.directoryCard{
    background-color: var(--lightmodeLightBackgroundColor);
    margin: 0;
    padding: 2rem 0;
    width: 100%;
}

.directoryCard:nth-child(even){
    background-color: rgb(238, 232, 187);
}

#directoryButtons{
    margin: 1rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
}


.list {
    display: flex;
	flex-direction: column;
}

.list img{
    margin-right: 1rem;
}

.list section {
	display: flex;
    justify-content: flex-start;
	padding: 1rem;
    text-align: left;
}

.list section img {
	display: none;
}