@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --lightmodeMainColor: white;
    --lightmodeBackgroundColor: #333;
    --lightmodeLightBackgroundColor: grey;

    --darkmodeMainColor: #333;
    --darkmodeBackgroundColor: black;
    --darkmodeLightBackgroundColor: grey;
    
    --lightTextColor: gold;
    --darkTextColor: black;
    --lightTextBackgroundColor: white;
}

body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

/* Header */
header{
    display: flex;
    padding: 1rem;
    background-color: var(--lightTextColor);
    color: var(--darkTextColor);
}

header img{
    width: 5rem;
    height: 5rem;
}

header h1{
    margin: 2rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

/* Navigation */

nav{
    background-color: var(--lightmodeBackgroundColor);
}

nav a{
    padding: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--lightTextColor);
}

nav a:hover, #active{
    color: var(--darkTextColor);
    background-color: var(--lightTextColor);
    transition: 0.2s;
}

/* Hamburger */

#hamburger{
    font-size: 2rem;
    padding: 2rem;
    border: 0;
    color: var(--lightTextColor);
    background-color: var(--lightmodeBackgroundColor);
}

#darkmode{
    font-size: 2rem;
    padding: 2rem;
    border: 0;
    color: var(--darkTextColor);
    background-color: var(--lightTextColor);
}

#darkmode:hover{
    background-color: var(--lightmodeBackgroundColor);
    color: var(--lightTextColor);
    transition: 0.2s;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open::before {
    content: "X";
}

.navigation{
    display: none;
    flex-direction: column;
}

.navigation.show{
    display: flex;
}

#action{
    font-size: 2rem;
}

/* Main */

main{
    padding: 1rem 0;
}

.hero-img{
    width: 100%;
}

/* Cards */
.card{
    border: 1px solid;
    margin: 1rem;
}

.card h2{
    background-color: var(--lightmodeBackgroundColor);
    color: gold;
    padding: 1rem;
    margin-top: 0;
}

/* Footer */
footer{
    padding: 2rem;
    font-size: 1.5rem;
    background-color: var(--lightmodeBackgroundColor);
    color: var(--lightTextColor);
}