@media only screen and (min-width:50rem){
    header h1{
        font-size: 4rem;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    .navigation{
        display: flex;
        flex-direction: row;
    }
    #hamburger{
        display: none;
    }
    #cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    #temple-img1{
        display: flex;
        width: 100%;
    }
    #temple-img2{
        display: none;
    }
}


