@media only screen and (min-width: 60rem){

    nav{
        display: flex;
        justify-content: center;
    }
    .navigation{
        display: flex;
        flex-direction: row;
    }

    #cards{
        display: flex;
        justify-content: center;
    }
    .card{
        margin: 1rem;
        width: 100%;
    }

    #hamburger{
        display: none;
    }

}