@media only screen and (min-width: 60rem){

    nav{
        display: flex;
        justify-content: center;
    }
    .navigation{
        display: flex;
        flex-direction: row;
    }

    #cards{
        display: flex;
        justify-content: center;
    }
    .card{
        margin: 1rem;
        width: 100%;
    }
    #hamburger{
        display: none;
    }
    #temple-img1{
        display: block;
        width: 100%;
    }
    #temple-img2{
        display: none;
    }
    #temple-text{
        display: block;
        position: absolute;
        top: 500px;
        right: 50px;
        font-size: 2rem;
        padding: 1rem;
        background-color: var(--lightTextBackgroundColor);
    }
}